html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #15DEA5;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.btn {
  padding: 1.5rem;
  border: 0.1rem solid #15DEA5;
  color: #15DEA5;
  background: #001534;
  cursor: pointer;
}
.btn:hover {
  background: #15DEA5;
  color: #D6FFF5;
}
.btn--full-width {
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #15DEA5;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header__logo {
  font-size: 7rem;
  color: #001534;
  margin-left: 10rem;
  text-shadow: 0.55rem 0.55rem #fff;
}

.nav {
  padding-right: 6rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #D6FFF5;
}
.nav__link--active {
  color: #001534;
}
.nav__link--active:hover {
  cursor: default;
  color: #001534;
}
.nav__link a:hover {
  color: #fff;
}

.container {
  margin: 6rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border: 0.1rem solid #D6FFF5;
}

.form {
  width: 100%;
  padding-bottom: 1.5rem;
}
.form__heading {
  width: 100%;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #11af82;
  background: #15DEA5;
  line-height: 5rem;
  padding: 1.5rem;
}
.form__field label {
  color: #D6FFF5;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
.form__field input {
  width: 100%;
  background: #001534;
  border: 0.1rem solid #15DEA5;
  padding: 1.5rem;
  color: #D6FFF5;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  border: 0.1rem solid #15DEA5;
  background-color: #001534;
  color: #15DEA5;
}
.form__field textarea {
  width: 100%;
  color: #15DEA5;
  background: #001534;
  border: 0.1rem solid #15DEA5;
  outline: none;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
}

.quote {
  text-align: right;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  color: #D6FFF5;
  margin: 2rem 6rem -3rem 6rem;
}
.quote strong {
  color: #15DEA5;
}

.proj-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
}

.proj-prev {
  color: #fff;
  margin-bottom: 1.5rem;
}
.proj-prev__image {
  margin: 0;
  opacity: 0.2;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.proj-prev__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.proj-prev__heading {
  font-size: 4rem;
  padding-left: 2.5rem;
  margin: 0;
  line-height: 6rem;
}
.proj-prev__byline {
  padding-left: 2.5rem;
  font-size: 1.66rem;
}
.proj-prev:hover {
  cursor: pointer;
}
.proj-prev:hover > .proj-prev__heading {
  background: #15DEA5;
}
.proj-prev:hover > .proj-prev__image {
  opacity: 1;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, auto);
  padding: 1.5rem;
  grid-template-areas: "imagery heading" "imagery copy" "imagery btn";
  margin-bottom: 1.5rem;
}
.about__heading {
  grid-area: heading;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #11af82;
  text-align: right;
  padding-right: 1.5rem;
}
.about__imagery {
  grid-area: imagery;
}
.about__pic {
  overflow: hidden;
  width: 80%;
  border-radius: 1000rem;
  border: 1.5rem solid #15DEA5;
}
.about__pic img {
  display: block;
  width: 100%;
}
.about__copy {
  grid-area: copy;
}
.about__copy p {
  line-height: 2.4rem;
  margin-bottom: 3.375rem;
}
.about__btn {
  padding: 1.5rem;
  border: 0.1rem solid #15DEA5;
  color: #15DEA5;
  background: #001534;
  cursor: pointer;
  grid-area: btn;
}
.about__btn:hover {
  background: #15DEA5;
  color: #D6FFF5;
}
.about__btn--full-width {
  width: 100%;
  margin: 0 auto;
}
.about__btn a {
  text-decoration: none;
}

.project {
  width: 100%;
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 1.5rem;
}
.project__synopsis h1 {
  color: #fff;
  text-shadow: 0.55rem 0.55rem #11af82;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: #fff;
}
.project__tags p strong {
  color: #15DEA5;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  padding: 1.5rem;
  border: 0.1rem solid #15DEA5;
  color: #15DEA5;
  background: #001534;
  cursor: pointer;
  grid-area: btn;
}
.project__btn:hover {
  background: #15DEA5;
  color: #D6FFF5;
}
.project__btn--full-width {
  width: 100%;
  margin: 0 auto;
}

#main_wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
}

.header {
  display: block;
  font-size: 11.8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 50px;
  text-align: center;
  background-color: #fffdfd;
}
.header .header_logo {
  font-family: "Shrikhand";
  font-weight: 900;
  font-size: 27px;
  box-shadow: 0px 5px 5px #929090;
  color: #0e0e14;
  margin-top: 15px;
}

.header_town .localisation {
  display: flex;
  flex-direction: row;
  background-color: #dbdbda;
  align-items: center;
  color: #0e0e14;
  justify-content: center;
  padding-bottom: 20px;
}
.header_town .localisation p {
  height: 1.3em;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.header_town .localisation p i {
  margin-right: 15px;
  font-weight: 900;
  font-size: 17px;
  padding-bottom: 10px;
}
.header_town .localisation p strong {
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  margin-right: 35px;
  margin-bottom: 90px;
}

.booking {
  background-color: #f5f5f5;
  height: 7em;
}
.booking .btn {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 5px 15px 0 #c3c3c3;
  transition: 0.2s;
  font-size: 20px;
  border: none;
  color: #fff;
}
.booking .btn:hover {
  background: linear-gradient(#5c5664, #7a5a71);
  color: blue;
}
.booking .btn:hover {
  background-color: #f5f5f5;
}
.booking h2.reserve_title {
  color: black;
  font-weight: 900;
  font-size: 25px;
  padding-top: 25px;
  text-align: center;
}
.booking p {
  font-size: 15px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.operation {
  text-align: left;
}
.operation .heading {
  color: black;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
}

.the_steps {
  display: flex;
}

.a_step {
  height: 70px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  width: 20%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  flex-direction: row;
  margin: auto;
}
.a_step .number_step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
  margin-right: 50px;
  color: #fff;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border: 1px solid #9356dc;
  border-radius: 100px 100px 100px 100px;
  font-size: 15px;
}
.a_step a {
  text-decoration: none;
  color: black;
}
.a_step a i {
  margin-right: 50px;
}

figure .new-flag {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 5px;
}

.restaurants {
  background-color: #f4f4f4;
}

.list-restaurants {
  display: flex;
  margin-left: 60px;
}

figure {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  position: relative;
}
figure .new-flag {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
  background-color: #99e2d0;
  font-weight: bold;
}

.img_restaurant {
  width: 100%;
  height: 55%;
  max-width: 275px;
  border-radius: 20px 20px 0px 0px;
  margin: 0;
  padding: 0;
}

figcaption div {
  position: relative;
}

figcaption {
  position: relative;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 2px 8px #bdbdbd;
}
figcaption .icon-heart {
  position: absolute;
  right: 0;
  bottom: 25px;
  margin-right: 15px;
  font-size: 25px;
}

p {
  margin-left: 15px;
  color: #000;
  font-size: 19px;
}

h2.list {
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 60px;
  font-size: bold;
}

figure {
  position: relative;
}
figure .new-flag {
  position: absolute;
  top: 0;
  right: 0;
}

h3.list {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
